@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* resets de utilidad */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.8rem; 
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

h6{
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}

a{
    color:black;
    text-decoration:none;
}

.center{
    text-align: center;
}

.head{
    padding: 5px 10px;
    font-size: 0.8rem;
    background-color: rgb(241, 229, 112);
}

.container-head{
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* navbar head */
.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    text-align: center;
    align-items: center;
    position:fixed;
    width: 100%;
    top:0px;
    z-index: 3;
    background-color: white;
}

.burger{
    display:none;
}

.ul-header{
    display:flex;
    list-style-type: none;
}

.ul-header li{
    margin: 0 10px;
}

.ul-header li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.logo{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* Container */

.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

/* section header*/

#showcase{
    background-color: gold;
}

.showcase-row{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

.showcase-row-hi h1{
    font-weight: 400;
    text-transform: uppercase;
}

.container-anim{  
        margin-top: 20px;
        display: inline-block;
        width: 400px;
}

.tipear{
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    font-size: 2.5rem;
    width: 0;
    animation: typing 1s forwards, tilt 1s infinite;
    ;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes tilt {
    0%{ border-right: .15em solid gold;}
}

.showcase-row-hi h4 {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 30px;
}

.row-hi-btn{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.row-hi-btn a{
    text-decoration: none;
}

#btn{
    background-color: black;
    text-align: center;
    padding: 15px 30px;
    color: white;
    box-shadow: -7px 12px 36px 6px rgba(0,0,0,0.31);;
}

#contact{
    padding: 0px 30px;
    color: black;
}



.showcase-row-avatar img{
    border-radius: 70%;
    width: 250px;
    border: 10px solid white;
    box-shadow: -1px 0px 18px 15px rgba(0,0,0,0.12);
    filter: grayscale(100%);
}

/* sobre mi */

.sobre-mi-row{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#sobre-mi-row-bio{
    flex-basis: 50%
}

#sobre-mi-row-bio h4{
    font-weight: 500;
    font-size: 2rem;
}

#luca{
    text-decoration: underline;
    text-decoration-color: gold;
}

#sobre-mi-row-bio p{
    font-weight: 500;
    font-size: 1rem;
}

.sobre-mi-row-exp{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#container-exp{
    background-color: gold;
    border-radius: 50%;
    width: 105px;
    height: 100px;
    position: relative;
    left: 60px;
    z-index: 2;
}

#container-exp h2{
    position: absolute;
    left: 16px;
    bottom: 0px;
    font-size: 8rem;
    color: rgb(49, 49, 49)
}

#experiencia{
    font-weight: 900;
}

.sobre-mi-row-datos{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.sobre-mi-row-datos h6{
    color: grey;
    font-size: 0.7rem;
}

.sobre-mi-row-datos h5,a{
    margin-top: 10px;
    color: black;
}

/* servicios */

.servicios-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services{
    margin: 15px;
    padding-top: 60px;
    display: inline-block;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width: 320px;
    padding-bottom: 50px;
}

.fa-solid{
    color: gold;
    font-size: 2.5rem;
}

#Servicios{
  background-color: rgb(236, 236, 236);  
}

/* resumen */

#resumen-column{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.My-education-column{
    flex-basis: 50%;
    border-left: 2px solid gold;
    padding: 30px;
}


.educacion{
    border-top: 1px solid rgb(236, 236, 236);
    margin-top: 30px;
    padding: 20px;
}

.My-experience-column{   
    border-left: 2px solid gold;
    flex-basis: 50%;
    padding: 30px;
}

.experiencia{
    border-top: 1px solid rgb(236, 236, 236);
    margin-top: 30px;
    padding: 20px;
}

.educacion h5{
    font-size: 1rem;
}

.educacion h6{
    font-size: 0.8rem;
    margin-top: 10px;
}

.experiencia p{
    margin-top: 10px;
}

.experiencia h5{
    font-size: 1rem;
}

.experiencia h6{
    font-size: 0.8rem;
    margin-top: 10px;
}

.educacion p{
    margin-top: 10px;
}

/* skills */

.skillbars{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}

.skillbars p{
    font-size: 1rem;
    font-weight: bold;
    margin-top:30px;
    margin-bottom: 20px;
}

.container-bar{
        width: 500px;
        height: 10px; 
        background-color: #ddd;
        border-radius: 30px;
}

.skill {
    text-align: right;
    color: black;
}

.web-design {height: 10px; border-radius: 30px; width: 65%; background-color: gold;}
.html-css {height: 10px;border-radius: 30px; width: 90%; background-color: gold;}
.js {height: 10px;border-radius: 30px; width: 50%; background-color: gold;}
.React {height: 10px;border-radius: 30px; width: 65%; background-color: gold;}
.PHP {height: 10px;border-radius: 30px; width: 30%; background-color: gold;}
.Bootstrap {height: 10px;border-radius: 30px; width: 95%; background-color: gold;}

/* portfolio */

#Portfolio{
    background-color:#ddd;
}

.portfolio-navbar{
    display: flex;
    justify-content:center;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.portfolio-navbar ul{
    display:flex;
    list-style: none;
    align-items: center;
}

.portfolio-navbar ul li{
    padding: 0 20px;
    font-weight: bold;
}

.portfolio-navbar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(43, 39, 3);
}

#proyects-row-wrap{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#proyects-row-wrap img{
    width: 300px;
    height: 340px;
    margin: 10px;
}

/* contacto */

#contacto{
    background-color: gold;
}

.contact-row{
    display:flex;
    padding-top: 60px;
    margin-bottom: 60px;
}

#touch{
    padding: 0 100px;
}

#touch h3{
    margin-bottom: 20px;
    font-size: 2rem;
}

#touch p{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-icons{
    position: relative;
    right: 10px;
}

.contact-icons ul li{
    float: left;
    list-style: none;
}

.contact-icons ul li a{
    margin: 0 10px;
    font-size: 1rem
}

#form{
   flex-basis: 60%;
   padding: 0  35px;
}

#form h3{
    margin-bottom: 20px;
    font-size: 1.6rem;
}

#form h5{
    font-size: 0.8rem;
    color: rgb(61, 60, 60);
    margin-top: 10px;
}

.textarea{
    background-color: gold;
    border: none;
    border-bottom: 1px solid rgb(61, 60, 60);
    margin-top: 10px;
    width: 100%;
}

textarea{
    background-color: rgb(253, 229, 10);
    border: none;
    border-bottom: 1px solid rgb(61, 60, 60);
    height: 100px;
}

#submit{
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}

/* footer */

#footer{
    background-color: black;
    color: white;
}

#footer-row{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

#footer-row a{
    color: gold;
}

/* query 1150 */

@media only screen and (max-width: 1150px){
    .container-bar{
        width: 400px;
        height: 10px; 
        background-color: #ddd;
        border-radius: 30px;
}
}

/* query  970*/

@media only screen and (max-width: 970px){
    .container-bar{
        width: 325px;
        height: 10px; 
        background-color: #ddd;
        border-radius: 30px;
}
}

/* query  800*/

@media only screen and (max-width: 800px){

    /* skillbars */

    .container-bar{
        width: 280px;
        height: 10px; 
        background-color: #ddd;
        border-radius: 30px;
    }

    /* navbar */

    .nav-header{
        display:flex;
        justify-content: space-between;
    }

    .logo{
        margin-bottom: 10px;
    }
    .menu li{
        display: none;
    }
    .burger{
        display: inline;
        color: black;
        padding: 0;
    }
    .iconss{
        display:flex;
        align-items: center;
    }
    /* showcase */
    .showcase-row{
        flex-direction: column-reverse;
        text-align: center;
    }
    .showcase-row-hi{
        margin-top: 30px;
    }
    .row-hi-btn{
        justify-content: center;
    }
    /* sobre-mi */
    .sobre-mi-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sobre-mi-row-exp{
        margin-top: 50px;
    }
    .datos{
        flex-basis: 40%;
    }
    .services{
        flex-basis: 30%;
    }
    /* resumen */
    #resumen-column{
        flex-direction: column;
        margin-top: 10px;
    }
    .columnasexp{
        margin-top: 50px;
    }
    .contact-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* contacto */
    #touch{
        text-align: center;
    }
    .contact-icons{
        display: flex;
        justify-content: center;
    }

    #btn-holder{ text-align: center; }
    /* footer */

    #footer-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #form h3{
        text-align: center;
    }

    #design{
        margin-top:10px;
    }
}

@media only screen and (max-width: 670px){
    .portfolio-navbar{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 566px){
    .portfolio-navbar{
        font-size: 0.7rem;
        padding: 0px;
    }
}

@media only screen and (max-width: 460px){

    .showcase-row{
        text-align: center;
    }

    .showcase-row-hi h1{
        font-size: 1.8rem;
    }
    .datos h5{
        margin-top: 1px;
        font-size: 1rem;
    }
    #footer-row{
        padding: 10px;    
    }
    #copyright p{
        font-size: 0.60rem;
    }
}


/* query 415 */

@media only screen and (max-width: 415px){

    .container{
        padding: 0px;
    }

    .nav-header{
        display:flex;
    }
    /* showcase */
    .showcase-row-avatar img{
        width: 90%
    }
    .container-anim{
        width: 320px;
    }
    .tipear{
        font-size: 2rem;
    }
    /* sobre mi */
    .sobre-mi-row-datos{
        justify-content: flex-start;
    }
    .datos{
        text-align:left;
        margin-left: 20px;
    }
    .datos h5{
        margin-top: 1px;
        font-size: 1rem;
    }
    /* servicios */
    
    .services{
        flex-basis: 100%;
    }
    /* resumen */
    #resumen-column{
        padding: 0 20px;
    }
    /* habilidades */
    #skills{
        padding: 0 20px;
        margin-top: 50px;
    }
    /* portfolio */
    .portfolio-navbar{
        overflow-y: scroll;
    }
    /* footer */
}


